*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background:#f4f6f9;
}
h1{
  font-size: 40px;
}
.main-card{
  min-height: 300px;
  width: 35%;
  background:#fff;
  margin: 50px auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,.12);
  

}

h2{
  font-size: 60px;
  color:#2563eb;
  

}

.btn-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.btn-container button{
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.btn-container button:nth-child(1){
  background-color: #36ce45;
  /* color: white; */
  
}
.btn-container button:nth-child(2){
  background-color:#6b7280;
}
.btn-container button:nth-child(3){
  background-color: #ef4444;
}
.btn-container button:hover{
  transition: 0.4s;
  transform: scale(1.05);
}

.btn-container button:nth-child(3):disabled{
    background-color: gray;
    cursor: not-allowed;
    transform:none;
    
}
p{
  font-size:18px;
  font-weight:600;
  color: #ef4444;
}
